BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

## Reference constraints file, fill in the FPGA pin mappings for your fpga etc.

# clock
LOCATE COMP "clk_i" SITE "XX";
IOBUF  PORT "clk_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

# Uart
LOCATE COMP "uart0_txd_o" SITE "XX";	
IOBUF PORT "uart0_txd_o" IO_TYPE=LVCMOS33;

# Leds
LOCATE COMP "led" SITE "XX";
IOBUF PORT "led" IO_TYPE=LVCMOS33 PULLMODE=UP;

# HyperRAM
LOCATE COMP "hr_resetn" SITE "XX";
LOCATE COMP "hr_ck" SITE "XX";
LOCATE COMP "hr_rwds" SITE "XX";
LOCATE COMP "hr_csn" SITE "XX";
LOCATE COMP "hr_dq[0]" SITE "XX";
LOCATE COMP "hr_dq[1]" SITE "XX";
LOCATE COMP "hr_dq[2]" SITE "XX";
LOCATE COMP "hr_dq[3]" SITE "XX";		
LOCATE COMP "hr_dq[4]" SITE "XX";
LOCATE COMP "hr_dq[5]" SITE "XX"; 
LOCATE COMP "hr_dq[6]" SITE "XX"; 
LOCATE COMP "hr_dq[7]" SITE "XX"; 
IOBUF PORT "hr_resetn" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_ck" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_rwds" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_csn" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[0]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[1]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[2]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[3]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[4]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[5]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[6]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
IOBUF PORT "hr_dq[7]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8;
